html{
    scroll-behavior: smooth;
}

.vt323-regular{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'vt323';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #365351;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#header{
    position: relative;
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    background-color: #273D3B;
}

.gameTitle{
    width: 50%;
    text-align: center;
}

.gameTitle h1{
    font-size: 2rem;
}

.menu{
    width: 50%;
    position: relative;
    text-align: center;
    display: block;
    display: flex;
    flex-direction: row;
}

.option{
    display: block;
    width: 50%;
    text-align: center;
    padding-top: 0rem;
}

.option:hover{
    top: 0.5rem;
    transform: translateY(0.25rem) translateX(0.25rem);
    transition: 0.2s;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) -0.25rem -0.25rem;
}

.option h2{
    font-size: 2rem;
}

.option a{
    color: inherit;
}

.option a:visited{
    color: inherit;
}

#main{
    display: block;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.bckgimg{
    background-image: url(bgimg.png);
    background-repeat: no-repeat;
    height: 60rem;
    filter: blur(0.1rem);
    z-index: 0;
    top: 0;
    left: 0;
    margin-top: -.1rem;
}

.mainEntry{
    width: 100%;
    position: absolute;
    text-align: center;
    height: 60rem;
}

.mainEntry p{
    padding: 3rem;
    font-size: 4rem;
}

.scrolldownEntry{
    width: 100%;
    display: block;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 40rem;
}

.content{
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    text-wrap: wrap;
}

.content p{
    font-size: 2rem;
}

.aintmuch a{
    position:relative;
    color: inherit;
}

.aintmuch a:hover{
    position:relative;
    color: inherit;
    cursor: default;
}

.aintmuch a span{
    position:relative; display:none; z-index:99;
}

.aintmuch a:hover span{
    cursor: default;
    display: block;
}

#footer{
    width: 100%;
    background-color: #273D3B;
    display: block;
    display: flex;
    flex-direction: row;
}

.footerContent{
    width: 50%;
    padding: 2rem;
    font-size: 1.5rem;
}

.footerContent h2{
    font-size: 2.5rem;
}

.footerContent a, .footerContent a:visited{
    color: inherit;
}

.footerContent a:hover{
    color: white;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar-button{
    visibility: hidden;
}