.vt323-regular{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

body{
    font-family: 'vt323';
}

button{
    font-family: 'vt323';
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border: none;
}

button:active{
    opacity: 0.5;
}

.entry{
    text-align: center;
    margin: auto;
}

#startText{
    font-size: 6rem;
    color: white;
}

#ifClickedYes{
    font-size: 6rem;
    color: white;
}